<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label 
      [nzSm]="field.label.layout" 
      [nzXs]="24" 
      [nzFor]="field.key"
      [nzRequired]="field.label.require"
      [nzNoColon]="field.label.isColon"
      >{{field.label.name}}</nz-form-label>
    <nz-form-control [nzSm]="field.control.layout" [nzXs]="24" [nzErrorTip]="combineTpl">
      <basic-input [field]="field" [formControlName]="field.customKey || field.key" ></basic-input>
    </nz-form-control>
  </nz-form-item>

  <ng-template #combineTpl let-control>
    <ng-container *ngIf="control.hasError('email')">输入的邮箱有误</ng-container>
    <ng-container *ngIf="control.hasError('maxlength')">输入的字数超出限制</ng-container>
    <ng-container *ngIf="control.hasError('minlength')">输入的字数小于限制</ng-container>
    <ng-container *ngIf="control.hasError('required')">请输入</ng-container>
  </ng-template>
</form>