<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label 
      [nzSm]="field.label.layout" 
      [nzXs]="24" 
      [nzFor]="field.key" 
      [nzRequired]="field.label.require"
      [nzNoColon]="field.label.isColon"
      >{{field.label.name}}</nz-form-label>
    <nz-form-control [nzSm]="field.control.layout" [nzXs]="24">
      <div 
        class="sub-content" 
        [formArrayName]="field.key" 
        *ngFor="let item of subFormContent.controls;let workflowIndex = index"
      >
        <div [formGroupName]="workflowIndex">
          <div class="sub-item" *ngFor="let item of field.templateOptions.items" [style.width]="item.subWidth + 'px'">
            <ng-container [ngSwitch]="item.templateOptions.key">
              <div>{{item.label.name}}</div>
              <ng-container *ngSwitchCase="'input'">
                <basic-input [field]="item" [formControlName]="item.customKey || item.key" ></basic-input>
              </ng-container>

              <ng-container *ngSwitchCase="'textarea'">
                <basic-textarea [field]="item" [formControlName]="item.customKey || item.key" ></basic-textarea>
              </ng-container>

              <ng-container *ngSwitchCase="'radio'">
                <basic-radio [field]="item" [formControlName]="item.customKey || item.key" ></basic-radio>
              </ng-container>

              <ng-container *ngSwitchCase="'switch'">
                <basic-switch [field]="item" [formControlName]="item.customKey || item.key" ></basic-switch>
              </ng-container>

              <ng-container *ngSwitchCase="'select'">
                <basic-select [field]="item" [formControlName]="item.customKey || item.key" ></basic-select>
              </ng-container>

              <ng-container *ngSwitchCase="'organization'">
                <bk-organization-select [formControlName]="item.customKey || item.key"></bk-organization-select>
              </ng-container>

              <ng-container *ngSwitchCase="'dashboard-select'">
                <bk-dashboard-select [formControlName]="item.customKey || item.key"></bk-dashboard-select>
              </ng-container>

            </ng-container>
          </div>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>