/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

@mixin contentStyle($width) {
  width: $width;
  height: 100%;
  background-color: #fff;
}
$title: 50px;
$primaryColor: #0db3a6;
$primaryBorder: #d9d9d9;
@mixin flex($jc) {
  display: flex;
  align-items: center;
  justify-content: $jc;
}